<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Reimbursement WebApp</display-name>

    <welcome-file-list>
        <welcome-file>resources/Login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.revature.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExpenseReimburseMasterServlet</servlet-name>
        <display-name>ExpenseReimburseMasterServlet</display-name>
        <description></description>
        <servlet-class>com.revature.expensereimburseservlets.ExpenseReimburseMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseReimburseMasterHelper</servlet-name>
        <display-name>ExpenseReimburseMasterHelper</display-name>
        <description></description>
        <servlet-class>com.revature.expensereimburseservlets.ExpenseReimburseMasterHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <display-name>HomeController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <display-name>LoginController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReimburseController</servlet-name>
        <display-name>SubmitReimburseController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.SubmitReimburseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResolveReimburseController</servlet-name>
        <display-name>ResolveReimburseController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.ResolveReimburseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BadLoginController</servlet-name>
        <display-name>BadLoginController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.BadLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitMoreReimburse</servlet-name>
        <display-name>SubmitMoreReimburse</display-name>
        <description></description>
        <servlet-class>com.revature.controller.SubmitMoreReimburse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResolveMoreReimburseController</servlet-name>
        <display-name>ResolveMoreReimburseController</display-name>
        <description></description>
        <servlet-class>com.revature.controller.ResolveMoreReimburseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExpenseReimburseMasterServlet</servlet-name>
        <url-pattern>/ExpenseReimburseMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseReimburseMasterHelper</servlet-name>
        <url-pattern>/ExpenseReimburseMasterHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReimburseController</servlet-name>
        <url-pattern>/SubmitReimburseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResolveReimburseController</servlet-name>
        <url-pattern>/ResolveReimburseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BadLoginController</servlet-name>
        <url-pattern>/BadLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitMoreReimburse</servlet-name>
        <url-pattern>/SubmitMoreReimburse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResolveMoreReimburseController</servlet-name>
        <url-pattern>/ResolveMoreReimburseController</url-pattern>
    </servlet-mapping>
</web-app>
